@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

:root{
    --clr-white: #FFF;
    --clr-black: #000;
    --clr-blue-950: #242A45;
    --clr-blue-600: #5267DF;
    --clr-grey-600: #5B6074;
    --clr-grey-50: #F7F7F7;
    --clr-red-400: #FA5959;

    --spacing-0: 0rem;
    --spacing-100: .5rem;
    --spacing-200: 1rem;
    --spacing-300: 1.5rem;
    --spacing-400: 2rem;
    --spacing-500: 2.5rem;
    --spacing-600: 3rem;
    --spacing-700: 3.5rem;
    --spacing-800: 4rem;
    --spacing-900: 4.5rem;
    --spacing-1500: 7.5rem;
}

/*General Styles and CSS Reset*/
*, body{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background-color: var(--clr-white);
    font-family: "Rubik", sans-serif;
    padding: 0 var(--spacing-400);
}

.hidden{
    display: none;
}

/*Header Styles*/
.header-group{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: var(--spacing-500) 0;
}

.header .hamburger-icon{
    height: .9375rem;
    width: 1.125rem;
}