@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

:root{
    --clr-white: #FFF;
    --clr-black: #000;
    --clr-blue-950: #242A45;
    --clr-blue-600: #5267DF;
    --clr-grey-600: #5B6074;
    --clr-grey-50: #F7F7F7;
    --clr-red-400: #FA5959;

    --spacing-0: 0px;
    --spacing-100: 8px;
    --spacing-200: 16px;
    --spacing-300: 24px;
    --spacing-400: 32px;
    --spacing-500: 40px;
    --spacing-600: 48px;
    --spacing-700: 56px;
    --spacing-800: 64px;
    --spacing-900: 72px;
    --spacing-1500: 120px;
}

/*General Styles and CSS Reset*/
*, body{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
body{
    background-color: var(--clr-white);
    font-family: "Rubik", sans-serif;
    padding: 0 var(--spacing-400);
}
.hidden{
    display: none;
}
.primary-button{
    background-color: var(--clr-blue-600);
    padding: .5625rem .9063rem;
    border-radius: 5px;
    text-decoration: none;
    color: var(--clr-white);
    box-shadow: 0 8px 8px -4px hsla(231, 58%, 55%,.5);
    text-align: center;
    font-size: 15px;
    font-weight: 500;
    line-height: 200%;
}
.primary-button:hover{
    background-color: var(--clr-white);
    color: var(--clr-blue-600);
    outline: 2px var(--clr-blue-600) solid;
    outline-offset: -2px;
}
.secondary-button{
    background-color: var(--clr-grey-50);
    padding: .5625rem .9063rem;
    border-radius: 5px;
    text-decoration: none;
    color: var(--clr-grey-600);
    box-shadow: 0 8px 8px -4px hsla(231, 58%, 55%,.5);
    text-align: center;
    font-size: 15px;
    font-weight: 500;
    line-height: 200%;
}
.secondary-button:hover{
    background-color: var(--clr-white);
    color: var(--clr-grey-600);
    outline: 2px var(--clr-grey-600) solid;
    outline-offset: -2px;
}

/*Header Styles*/
.header-group{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: var(--spacing-500) 0;
}
.header .hamburger-icon{
    height: 15px;
    width: 18px;
}
.hamburger-icon:hover{
    cursor: pointer;
}

/*Hero Styles*/
.hero{
    position: relative;
    display: flex;
    flex-direction: column;
    gap: var(--spacing-600);
}
.hero-illustration-container {
    position: relative;
    width: 100%;
}
.hero-illustration{
    position: relative;
    width: 100%;
    z-index: 2;
}
.hero-decoration-rectangle{
    scale: .85;
    position: absolute;
    width: 100%;
    top: 15%;
    right: -15%;
    z-index: 1;
    left: 85px;
    overflow: hidden;
}
.hero-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: var(--spacing-300);
}
.hero-text h2{
    text-align: center;
    font-weight: 500;
    font-size: 30px;
    line-height: 135%;
    color: var(--clr-blue-950);
}
.hero-text p{
    text-align: center;
    font-size: 15px;
    line-height: 165%;
    color: var(--clr-grey-600);
    font-weight: 400;
}

.hero-buttons-group{
    display: flex;
    justify-content: center;
    gap: 16px;
}